body {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 10px;
}

.landing-page {
    background-image: url(/images/fashion-2208045_1920.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    padding: 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 30px 60px;
}

.brand-logo {
    justify-content: flex-start;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}

.brand-logo a {
    text-decoration: none;
    color: goldenrod;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
}

.main-menu {
    width: 100%;
    font-size: 1.5em;
    margin: 25px;
    align-items: center;
    text-decoration: none;
}

.menu-item {
    margin-left: 5%;
}

.menu-item a {
    text-decoration: none;
    color: white;
}
.menu-item-big {
    flex-grow: 3;
}

.landing-page-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    margin: auto;
    color: white;
    line-height: 1.6;
    }

.landing-page-inner h2 {
    font-size: 4em;
    font-style: italic;
    margin: 0;
    padding-top: 90px;
}

.landing-page-inner h1 {
    font-size: 7em;
    font-weight: 700;
    margin: 0;
}

.btn {
    width: 240px;
    margin:24px auto 0 auto;
    padding: 18px;
    background-color: gold;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
}

.section-title {
    padding: 60px 40px 40px 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 3.9em;
    font-weight: 700;
    margin-bottom: 0;
}

.section-title p {
    font-size: 1.9em;
    font-style: italic;
    color: grey;
}

/* Services */

.services i {
    font-size: 35px;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-radius: 50%;
    color: goldenrod;
    margin: 0 auto;
    line-height: 75px;
}

.card-body {
    text-align: center;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 20px;
}

.card-body h3 {
    font-size: 1.8em;
    font-weight: 700;
}

.card-body p {
    color: grey;
    font-style: italic;
    font-size: 1.2em;
}

.card {
    margin-bottom: 25px;
}

/* Portfolio */

.portfolio .container {
    padding-bottom: 50px;
}
.portfolio {
    background-color: #ecf0f1;
    display: flex;
}

.portfolio-picture {
    width: 100%;
    height: 250px;
    justify-items: center;
    object-fit: cover; 
}

/* social */

footer .container {
    height: 80px;
}

.copyright {
   font-size: 1.5em;
   position: relative;
   display: flex;
   justify-content: center;
}

.social {
    display: flex;
    flex-wrap: wrap;
    line-height: 45px;
    width: 100%;
}
.social-icon {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    width: 100%;  
}

.social-icon i {
    font-size: 20px;
    border: solid;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navigation ul {
        flex-direction: column;
        justify-content: flex-start;
    }
   .btn {
        position: absolute;
        bottom: -150px;
   }
}

@media (max-width: 758px) {
    .social {
        flex-direction: column-reverse;
    }
}